@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
}

.main {
  width: 1440px;
  margin: 22px auto;
  font-size: 25px;
}
.header ul.nav {
  list-style: none;
  margin-left: 100px;
}

.header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
  color: #E7FBFA;
}

.header ul.nav li:hover {
  opacity: 0.8;
}

.header hr {
  margin-top: 12px;
  color: #956B00;
}


.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer_t {
  margin-left: 650px;
  margin-right: auto;
}
.links {
  margin-right: 10px;
}


