/* Шапка */

header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
  }
  
  header nav {
    display: flex;
    justify-content: space-around;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  header nav a:hover {
    background-color: #444;
  }
  
  /* Основной контент */
  
  main {
    padding: 20px;
  }
  
  .match {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .match-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .match-header img {
    width: 100px;
  }
  
  .match-info {
    text-align: center;
  }
  
  .match-teams {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .match-team {
    width: 50%;
  }
  
  .match-team h2 {
    margin-bottom: 10px;
  }
  
  .match-team ul {
    list-style-type: none;
    padding: 0;
  }
  
  .match-team li {
    margin-bottom: 10px;
  }
  
  /* Футер */
  
  footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
  }